.body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: gray;
}

.text {
  font-size: 22px;
  font-weight: 600;
}

.textarea {
  resize: none;
  border: 1px solid gray;
  border-radius: 15px;
  height: 125px;
  margin-top: 15px;
  max-width: 500px;
  width: 100%;
  padding: 12px;
}
