.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e3e7;
  height: 50px;
  padding: 16px;
}

.dropdown {
  border-right: 1px solid #e1e3e7;
  padding-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  height: 40px;
}

.reloadIcon {
  margin-left: 16px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.btn {
  padding: 8px 16px;
  /* border-radius: 7px; */
  display: flex;
  align-items: center;
  gap: 6px;
  clip-path: polygon(5px 0%, 100% 0%, calc(100% - 5px) 100%, 0% 100%);
}

.btn:nth-child(1) {
  background-color: #00cb2f;
}

.btn:nth-child(2) {
  background: rgb(19, 19, 19);
  color: white;

  .btnImg {
    background-color: white;
  }
}
