.sidebar {
  margin-right: auto;
  min-width: 16.375rem;
  width: 17.125rem;
  height: calc(100vh - var(--main-header-height));
  position: sticky;
  top: var(--main-header-height);
  align-self: flex-start;
  overflow-y: auto;
  padding: 1rem 0.875rem 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

@media (max-width: 1800px) {
  .sidebar {
    min-width: 15.75rem;
    width: 16.625rem;
  }
}

@media (max-width: 1560px) {
  .sidebar {
    min-width: 14.875rem;
    width: 15.75rem;
  }
}

@media (max-width: 1360px) {
  .sidebar {
    display: none;
  }
}
