.item {
  border-top: 1px solid gray;
}

.title {
  padding-left: 16px;
  margin-top: 16px;
  color: gray;
  font-size: 14px;
}

.subItems {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subItem {
  background: rgb(235, 235, 235);
  cursor: pointer;
}

.link {
  padding: 16px;
  display: block;
  width: 100%;
  height: 100%;
}
