.footer {
  margin-top: auto;
  background-color: var(--bg-surface-soft);
  border-top: 1px solid var(--border-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 16px;

  .btn {
    display: flex;
    align-items: center;
    gap: 6px;

    .img {
    }

    .btnText {
    }
  }
}

.date {
}
