.testcase {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 14px;
}

.text {
  padding: 12px 14px 14px;
  color: #6f7f98;
  margin-top: auto;
  border-top: 1px solid #e8edf7;
  font-size: 13px;
}
