.footer {
  border-top: 1px solid rgb(207, 207, 207);
}

.buttons {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.btn {
  border: 1px solid gray;
  padding: 16px 32px;
  min-width: 150px;
  border-radius: 15px;
  text-align: center;
}
