/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin/padding */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Base document */
html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove quotes */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Forms: remove all native styles */
button,
input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

/* Remove focus outlines */
:focus,
:focus-visible {
  outline: none;
}

/* Buttons cursor */
button {
  cursor: pointer;
}

/* Images/media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --font-family: var(--font-manrope), sans-serif;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Для заголовков можно использовать более жирные веса */
h1,
h2,
h3 {
  font-weight: 700;
}
