.example {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.body {
  padding: 16px;
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 1px solid rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
