.example {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.body {
  padding: 16px;
  background-color: var(--bg-surface-soft);
  border-radius: 5px;
  border: 1px solid var(--border-default);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
