.sidebar {
  min-width: 250px;
  width: 250px;
  height: calc(100vh - var(--main-header-height));
  position: sticky;
  top: var(--main-header-height);
  align-self: flex-start;
  padding: 14px 12px 12px;
  border-right: 1px solid #18365c;
  background-color: #081a30;
  display: flex;
  flex-direction: column;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 270px;
    min-width: 250px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
