.sidebar {
  min-width: 300px;
  width: 340px;
  height: calc(100vh - 74px);
  position: sticky;
  top: 74px;
  align-self: flex-start;
  padding: 12px;
  border-right: 1px solid var(--border-default);
  background-color: var(--bg-surface-soft);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 300px;
    min-width: 280px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
