.sidebar {
  min-width: 300px;
  width: 300px;
  height: 100vh;
  border-right: 1px solid gray;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 16px;

  .logoIcon {
    padding: 15px;
    background: purple;
    color: white;
  }

  .logoText {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
    font-weight: 700;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
