.codeInline {
  background-color: var(--bg-surface-soft);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.constraints {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: circle;
}

.constraint {
  list-style: disc;
  list-style-position: inside;
}
