.result {
  height: 100%;
  overflow-y: scroll;
}

.empty {
  color: gray;
}

.body {
  padding: 16px;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: green;
  }

  .runtime {
    color: gray;
  }
}

.cases {
  margin-top: 16px;
  display: flex;
  gap: 16px;

  .case {
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.1s;
    clip-path: polygon(5px 0%, 100% 0%, calc(100% - 5px) 100%, 0% 100%);
  }

  .case:hover {
    background: rgb(230, 230, 230);
  }
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .inputTitle {
    font-size: 16px;
  }

  .inputs {
  }
}

.outputBlock {
  .outputTitle {
  }
}

.expectedBlock {
  .expectedTitle {
  }
}
